{
	"port": 1234,
	"secret": "",
	"api_key": "",
	"api_url": "https://members.example.com",
	"discourse": {
		"url": "https://discourse.example.com/posts",
		"topic": "",
		"api_username": "",
		"api_key": ""
	},
	"devices": {
		"door": {
			"permission": "door",
			"message": {
				"success": " opened the door.",
				"failed":  " was prevented from opening the door."
			}
		},
		"shutter": {
			"permission": "keyholder",
			"message": {
				"success": " operated the shutter.",
				"failed":  " was prevented from operating the shutter."
			}
		}
	}
}
